/*
font-family: 'Playfair Display', serif;

*/
:root {
  --main-color: #f3f5f7;
  --secondary-color: #394050;
  --main-font-poppins: "Poppins", sans-serif;
  --second-font-playfair: "Playfair Display", serif;
}
body {
  overflow-x: hidden;
  background-color: #f3f5f7;
  padding: 0;
  margin: 0;
  display: block;
  
}
.row{
  margin-right: calc(var(--bs-gutter-x) *0);
}

.p {
  font-family: var(--main-font-poppins);
  color: var(--secondary-color);
}
.greeting {
  font-family: var(--main-font-poppins);
  font-weight: regular;
  font-size: 36px;
}
li {
  list-style: none;
}
.hero {
  background: var(--secondary-color);
  color: var(--main-color);
  box-sizing:content-box;
  width: 100%;

  padding: 100px 10px;
}
.myname {
  font-family: var(--second-font-playfair);
  font-weight: bold;
  font-size: 60px;
}
.row-avatar{
    align-items:center;
    display: flex;
    justify-content: space-between;
}
/*.logo-background
   background-color: #394050; 
   color:red;
}*/
.btn-branding {
  background-color: var(--main-color);
  border-radius: 10px;
  font-size: 30px;
  line-height: 79.03px;
  text-align: center;
  padding: 0px 60px;
 
}
.uxDesigner {
  font-family: var(--main-font-poppins);
  font-weight: normal;
  font-size: 27px;
}
.logo-background {
  background-color: var(--secondary-color);
}
.container {
  margin: 0 ;
  
}
.btn-frontend {
  background-color: #e9edf1;
  padding: 10px 20px;
}
.h2 {
  font-family: var(--second-font-playfair);
  font-size: 48px;
  color: var(--secondary-color);
}
.btn-learn-more {
  border: 1px solid var(--secondary-color);
  padding: 11px 25px;
  border-radius: 5px;
  font-family: var(--main-font-poppins);
  font-size: 24px;
  font-weight: 300;
}
p {
  font-family: var(--main-font-poppins);
  font-size: 24px;
  font-weight: 300;
}
.description {
  padding: 150px 120px;
  text-align: center;
}



  .navbar-arrange{
    
    padding: 10px;
  }
  .color-text{
    color: var(--secondary-color);
  }

@media (max-width: 992px) {
    
  .description {
    padding: 0;
    text-align: center;
   margin-top: 5px;
    width: 150%;
    
  }
  body {
    margin: 0;
  }
  .avatar {
    max-width: 50%;
    
  }
   .myname {
    font-size: 48px;
  }
  .uxDesigner {
    font: 24px;
  }
  .greeting{
      font-size: 24px;
     
  }
  .btn-learn-more{
       /*padding: 10px 120px;*/
       
       background-color: var(--secondary-color);
       color: var(--main-color);
       margin-bottom: 50px;
  }
  
  .btn-branding{
       box-sizing:content-box;
  width: 100%;
  }
  .row-each{
      align-items:center;
    display: flex;
    justify-content: center; 
  }
  
}
