/*
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
*/
body{
    background-color: #F3F5F7;
}
h1{
    color: #394050;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}
p{
  font-family: 'Poppins', sans-serif;  
  color: #394050;
  font-weight: normal;
}
